#profil {
  width: 100%;
  font-size: 1.8rem;
}

.profil__input {
  height: 80vh;
}

.variable a {
  text-decoration: none;
}

.variable h2,
h6,
.h6,
label {
  font-size: 1.3rem;
}
.variable .form-control {
  font-size: 1.5rem;
}

.variable .btn {
  font-size: 1.5rem;
}

.variable ::placeholder {
  color: rgba(64, 89, 130, 0.55);
}
.variable select {
  color: rgba(64, 89, 130, 0.55);
}
/* 38 Page css  */
.variable-container-inputs-button38 {
  background-color: #21e7c3 !important;
  border: none;
  color: white;
}
.fa-location-pin {
  color: #ffb406;
}
.fa-magnifying-glass-chart {
  color: #00d2ff;
}
.fa-lock {
  color: #d60000;
}
.fa-sack-dollar {
  color: #ff912c;
}

/*  End 38 Page css   */
/* 41 Page css */
.variable-container-inputs-quantity {
  text-align: center;
}
.variable-container-inputs-button {
  color: white !important;
}
#custom-button {
  background-color: #68d7fa;
  border: none;
}
.variable-footer-text {
  font-size: 1rem;
  color: grey;
  margin-bottom: 0 !important;
}
/* End 41 Page css */
/* 42 Page css */

/* End 42 Page css */
/* profil 2 */
.fa-phone {
  color: #00ffb2;
}
/* End profil 2 */

/*page-4*/

.login__table {
  height: 100vh;
  background-color: white;
}

.login__debet {
  padding: 2rem 2.5rem 1rem 2.5rem;
  display: flex;
}

.login__table .login__debet span {
  display: inline-block;
  font-weight: bolder;
  font-size: 17px;
  line-height: 25px;
  width: 100%;
  /* identical to box height */
  color: #405982;
  margin: 2px 10px;
}

.login__lebel {
  margin: 30px 30px 30px 30px;
}

.login__table-input input {
  font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
  #table__plugin {
    overflow: hidden;
    overflow-y: inherit;
    overflow-x: scroll;
    width: 100%;
  }
}

/*Manuel order*/

#manual-order {
  /* background-color: #e5e5e5; */
  width: 100%;
}
/* .variable {
  background-color: white;
} */

.list-group {
  font-size: 1.4rem;
}

.variable ::placeholder {
  color: rgba(64, 89, 130, 0.55);
}
.variable select {
  color: rgba(64, 89, 130, 0.55);
}
/* 38 Page css  */
.variable-container-inputs-button38 {
  background-color: #21e7c3 !important;
  border: none;
  color: white;
}
.fa-location-pin {
  color: #ffb406;
}
.fa-magnifying-glass-chart {
  color: #00d2ff;
}
.fa-lock {
  color: #d60000;
}
.fa-sack-dollar {
  color: #ff912c;
}

/*  End 38 Page css   */
/* 41 Page css */
.variable-container-inputs-quantity {
  text-align: center;
}
.variable-container-inputs-button {
  color: white !important;
}
#custom-button {
  background-color: #68d7fa;
  border: none;
}
.variable-footer-text {
  font-size: 1rem;
  color: grey;
  margin-bottom: 0 !important;
}
/* End 41 Page css */
/* 42 Page css */

/* End 42 Page css */
/* profil 2 */
.fa-phone {
  color: #00ffb2;
}
/* End profil 2 */
/* Manual Order */
.headerIcon {
  border-radius: 50%;
  color: white;
  border: 0.1rem solid #18bdf6;
  background-color: #18bdf6;
  padding: 0.5rem 1rem;
}
.red {
  color: red;
}
.defaultCheckbox input,
.commonIcon {
  border-radius: 50%;
  color: white;
  border: 0.1rem solid #18bdf6;
  background-color: #18bdf6;
  padding: 0.5rem;
}
.totalText {
  font-size: 1.3rem;
  font-weight: bold;
}
.fa-tag {
  color: white;
}
.fa-ups {
  color: #ffb406;
}
.rengliSoz {
  color: #ff912c;
}
.productContentFooter {
  background-color: #e1f2f9;
}
/* End Manual Order */
/* ------------------------------------- */
/* Responsive Design */
/* ------------------------------------- */
@media (min-width: 576px) {
  .defaultCheckbox {
    margin-top: 8rem;
    margin-left: 8rem;
  }
}

/* Amazon FBA */
.shadowBox {
  box-shadow: 0px 4px 15px 0px #0000001a;
}
/* .amazonIconBG {
    background-color: #00d2ff;
    border-radius: 50%;
    text-align: center;
} */
.amazonHeaderText {
  color: #405982;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5rem;
}
select:required:invalid {
  color: #405982;
}
/* option[value=""][disabled] {
    display: none;
} */

.amazonBTN {
  color: white;
  background-color: #68d7fa;
  font-weight: 400;
  line-height: 1.9rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}
.amazonSelect {
  border: 1px solid #68d7fa;
}

.amazonLabel {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #405982;
}
.amazonLabel1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #405982;
}
.borderBottom {
  border-bottom: 1px rgb(186, 186, 186) solid;
}
.iconBG {
  width: 40px;
  height: 40px;
  background-color: #00d2ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconSize {
  width: 20px;
  height: 20px;
}
.form-check-input {
  border: 1px solid #21e7c3;
}
.form-check-input:checked {
  background-color: #21e7c3;
  border-color: #21e7c3;
}
.form-check-inputs {
  border: 1px solid #47c5ff;
}
.form-check-inputs:checked {
  background-color: #47c5ff;
  border-color: #47c5ff;
}
.amazonOrderText {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #405982;
}
.amazonCalcText {
  color: #405982;
}
.amazonCalcTextHeader {
  color: #405982;
  font-weight: 700;
  font-size: 18px;
}
.amazonTextAdditional {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #405982;
}
.amazonTextPrice {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #ff912c;
}
.paketBtn {
  color: white !important;
  background-color: #ff912c;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
}
.paketBtn:hover {
  background-color: #f8a252;
}
.productBtn {
  color: white !important;
  background-color: #47c5ff;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
}
.productBtn:hover {
  background-color: #67cfff;
}
.btnSelect {
  background: #68d7fa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: white;
}
.productYaradilanYer {
  background-color: rgba(255, 0, 0, 0);
}
.quoteBtn {
  background-color: #5e77f9;
  padding: 0 10px;
  color: white !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
}
.quoteBtn:hover {
  background-color: #7b90f7;
}

@media (max-width: 768px) {
  .borderEnd {
    border: none !important;
  }
  .productText {
    font-size: 14px !important;
  }
  .profileHeader {
    padding: 0px 0px;
  }
}
/* End Amazon FBA */

/* Ship Lounge */
.totalBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.radioSize {
  height: 1.8rem;
  width: 1.8rem;
}
@media (max-width: 1080px) {
  .totalBox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .total {
    margin-right: 1.9rem !important;
  }
}
/* End Ship Lounge */

/* Get Special Offer 1 */
.getSpecialText {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #405982;
}
.getSpecialText2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #405982;
}

.form-check-input {
  border: 1px solid #21e7c3;
}
.form-check-input:checked {
  background-color: #21e7c3;
  border-color: #21e7c3;
}
.getSpecialLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #405982;
}
.getSpecialSelect {
  color: rgb(227, 227, 227);
}
.getSpecialBtn {
  font-weight: 600;
  font-size: 20px;
  color: #405982;
}
.getSpecialBtn1 {
  background: #ff912c;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}
.getSpecialBtn1:hover {
  background-color: #ffa047;
}
.form-control::placeholder {
  color: rgb(227, 227, 227);
}
.getSpecialQuantity::placeholder {
  text-align: center;
  color: #405982;
}
.getSpecialText3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #405982;
}
.getSpecialDate {
  position: absolute;
}
/* End Get Special Offer 1 */
/* Profile */
.displayNone {
  display: none;
}
.profileTabMenu {
  border: none;
  background-color: white;
}
/* My Profile */
.profileHeader {
  padding: 0px 70px;
}
/* End My Profile */

/* Change Password */
.profileText {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #405982;
  margin-bottom: 0px;
}
.profileIconBox {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.borderBottomSelect {
  border-bottom: 3px solid #3b69e4;
}
.profileText1 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #405982;
  margin-bottom: 0px;
}
.profilText2 {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #405982;
}
.profilPassworBtn {
  background: #21e7c3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
.profilPassworBtn:hover {
  background-color: #2cfcd6;
}
/* End Change Password */
/*  */

@media (max-width: 1024px) {
  .profileHeader {
    padding: 0px 10px;
  }
}

/* End Profile */
